* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

body {
    background-image: url('Purple.avif');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#nav-div {
    background-image: url('Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80px;
    background-color: #B868c8;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right {
    text-align: right;
    margin-left: 50px;
}

.nav-button {
    background-color: hsl(288, 39%, 49%);
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #A258B0;
}

#main-div {
    width: 100%;
    min-height: 400px;
    text-align: center;
    margin-bottom: 100px;
    font-size: 150%;
}

#bodyarea-div {
    width: 75%;
    min-height: 400px;
    background-color: hsl(288, 39%, 49%);
    float: right;
    padding: 20px;
    margin-bottom: 1%;
    text-align: center;
    margin-right: 10%;
    padding-bottom: 30%;
}

#bodyarea-div h2, #bodyarea-div p {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

label, input, textarea {
    text-align: left;
    width: 80%; 
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px; 
    font-size: 16px; 
    color: black;
    background-color: white;
}

textarea {
    height: 150px; 
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#footer-div {
    background-image: url('Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80px;
    background-color: #B868c8;
    text-align: center;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    margin-top: auto;
}

.resize-image {
    width: 200px;
    height: auto;
}

.btn {
    background-color: hsl(288, 39%, 49%);
    border: 2px solid black; 
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 0; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #A258B0; 
}
